body {
    background-color: #05c46b;
}

.bosh {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

form {
    background-color: white;
    max-width: 500px;
    padding: 40px 20px;
    margin: 40px auto;
}

.forms {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.a {
    height: 30px;
}

select {
    height: 30px;
}

.forms2 {
    margin-bottom: 30px;
}

.forms3 {
    margin-bottom: 70px;
}

button {
    border: 1px solid #777;
    background-color: #05c46b;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

textarea {
    width: 95%;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
}